# Komari Agent Configuration
AGENT_ENDPOINT=http://localhost:3000
AGENT_TOKEN=komari-default-token
AGENT_INTERVAL=3
AGENT_DISABLE_AUTO_UPDATE=false
AGENT_DISABLE_WEB_SSH=false
AGENT_IGNORE_UNSAFE_CERT=false
PORT=3000
