# Komari Agent Configuration
AGENT_ENDPOINT=
AGENT_TOKEN=
AGENT_INTERVAL=3
AGENT_DISABLE_AUTO_UPDATE=false
AGENT_DISABLE_WEB_SSH=false
AGENT_IGNORE_UNSAFE_CERT=false
AGENT_INCLUDE_NICS=
AGENT_EXCLUDE_NICS=
AGENT_INCLUDE_MOUNTPOINTS=
AGENT_MONTH_ROTATE=0
AGENT_AUTO_DISCOVERY_KEY=
AGENT_CUSTOM_DNS=
AGENT_ENABLE_GPU=false
AGENT_DISABLE_COMPRESSION=false
AGENT_PREFER_IP_VERSION=
